{% extends 'adminbase.html.twig' %}

{% block body %}

    <div class="jumbotron ">
        <div class="container">
            <h1 class="text-secondary text-center table-active">Editer  le DVD </h1><br>
            {{  include ('adminproperty/form.html.twig' , {button: 'Editer'}) }}
        </div>

    </div>

{% endblock %}

