
    {{ form_start(form) }}
    <div>{{ form_row(form.objet,{'attr' : {'placeholder' : 'ici l objet de votre message'}}) }}</div>
    <div>{{ form_row(form.message,{'attr' : {'placeholder' : 'votre message...'}}) }}</div>
    <button type="submit" class="btn btn-contact">Valider</button>
    {{ form_end(form) }}

