
.li2,.li3
{
    padding-left: 5px;
    padding-right: 5px;
}
.blockbody
{
    background-color: #E9ECEF;
    border-radius: 0;
    font-family: sans-serif;
    margin: 0 15% 0 15%;
}
.block
{
    background-image: url("/img/krists-luhaers-AtPWnYNDJnM-unsplash.jpg");
    background-attachment: fixed;
    background-size:contain;

}

.left-post-div
{
    background-color: #480F10;
}
.left-post-div img
{
    padding-right: 9px;
}
.span1
{
    font-size: 16px;
    color: rgba(255, 248, 237, 0.79);
    font-style: normal;
    font-family: BatmanForeverAlternate;
}
.portion1
{
    background: rgba(226, 226, 227, 0.8);
    border-radius: 5px;
}

.portion1 span
{
    font-family: "HP Simplified";
    font-size: 16px;
 padding:10%;
}
.portion1 .in_portion1
{
    background: #dbd3da;

    padding: 0 10% 0 10%;
}
.portion1 div div p
{
    font-family:-apple-system;
    font-weight: 200;
}
.in_portion2
{
    background: #cee0ff;
}
.p1
{

    margin-top: 15px;
    border-radius: 5px ;
    width: 70% ;
}

.disque-text
{


    font-family: BatmanForeverAlternate ;
    color: #E86A20;
    font-size:25px;
    text-transform: uppercase;
}
.disque-text2
{
    font-family: BatmanForeverAlternate sans-serif;
    text-transform: uppercase;
    color: #EA4D47;
    font-size:18px;
}
.text1
{
    text-align: center;
    width: 68%;
}
.text1 a
{
    font-family:"HP Simplified" ;
    font-size: 15px;
}
.disque
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.proprieter_shadow
{

    animation:slideright 5s
}
.proprieter_shadow .div_img
{
    padding:15px;
}
.proprieter_shadow  img
{
    transition: transform ease-in-out .3s;
    border-radius: 10px 0 10px 0 ;
    box-shadow: 0px 2px 15px 0  #424242;
    height: 150px;
    object-fit: cover;
}
.proprieter_shadow img:hover
{
    transform: scale(1.1)rotate(10deg);

}
.login-img
{
    background-image: url("/img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    border:2px solid rgba(255, 60, 0, 0.63)(255, 115, 0);
    border:none;
}
.login-img2
{
    background-image: url("/img/krists-luhaers-AtPWnYNDJnM-unsplash - Copie.jpg");
    background-size: cover;
    border:2px solid rgba(214, 213, 213, 0.63)(255, 115, 0);
    border:none;
}

.bg1{

    background-image: url("/img/bg2.jpg");
    background-size: cover;
    border-radius:0px !important;
}
.bg2{
    background-image: url("/img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    border-radius:0px !important;
}.bg3{
     background-image: url("/img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg.jpg");
     background-size: cover;
     border-radius:0 !important;
 }
.bg3
{
    background-color: rgba(255, 95, 51, 0.79);
}
.bouton1
{
    background-color: #ff5f42;
    padding-right: 4px;
    padding-left: 4px ;
    color: white;
    border-radius: 4px;
}
.select
{
    background-color: #ff5f42;
    color: whitesmoke;
    border: none;
    border-radius: 15px;

}
.select:hover
{
    background-color: #ff5f42;
    color: whitesmoke;
    border: 1px solid #ff9371;

}
.left-post
{
    border-radius: 5px ;
}

.left-post ul li
{
    list-style-type: none;
    color: black;
    padding:10px 5px 10px 0;
}
.left-post ul li a
{
    color: #1b1e21;
    font-size: 16px;

}

.nav-bg-color
{
    background-color: rgba(0, 0, 0, 0.98);
}
.btn-contact,.btn-ins
{
    background-color: #ED5045;
    color: white;
}
.btn-contact:hover,.btn-ins:hover
{
    color: #d2c0b7;
background-color: rgba(255, 87, 76, 0.62);
}
.btn-contact img
{
    padding-right: 5px;
}
.span2-div{

    position: absolute;
    background-color: white;
    width: 48%;
    text-align: center;
    font-family: "HP Simplified";
    color: #ED5045;
    border-bottom: 3px solid  #ED5045;
    box-shadow: 1px 1px 5px 0 rgba(73, 73, 73, 0.8);
}
.span3-div
{
    background-color: #190506;
    width: 100%;
    text-align: center;
    font-family: "HP Simplified";
    color: #c3b9b9;
    font-size: 14px;
    border-bottom: 3px solid  #ED5045;
}
.span2-div1
{

    background-color: white;
    width: 100%;
    text-align: center;
    font-family: "HP Simplified";
    color: #ED5045;
    border-bottom: 3px solid  #ED5045;
    box-shadow: 1px 1px 5px 0 rgba(73, 73, 73, 0.8);
}
.span2-div span img
{
    padding-right: 10px;
}

.commende_form
{
    display: none;
    width: 50%;
    border-radius: 10px 10px 0 0 ;
    position: absolute;
    top: 4%;
    margin:10% ;
    box-shadow: 0px 2px 25px 0  #ed5045d8;
    color: #ED5045 ;
    padding: 10px;
    animation: apparition 1s ;

}
@keyframes apparition  {
    from
    {
        transform: scale(0);
        opacity: 0;
    }
    to
    {
        transform: scale(1);
        opacity: 1;
    }

}
.commende_form div img
{
    width: 50%;
    position: absolute;
    margin-left: 15%;

}
.bg
{
    background: url("/img/brett-jordan-EIsideS4lTI-unsplash.jpg");
    background-size: cover;
}
.arr_plan
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.73);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.bouton
{
    background: transparent;
    border: none;
}
.input_ input[type="text"] ,.input_ input[type="number"]
{
    border: none;
    background: rgba(255, 255, 255, 0.91);
    border-radius: 0;
    color: rgba(43, 22, 22, 0.73);
    font-family: "HP Simplified";
    font-size:14px;
    text-transform: lowercase;
}
.input_ input[type="text"]{ border-bottom:  3px solid #ED5045;color: #ED5045;}
.input_ input[type="number"]{border-bottom:  3px solid #E87117;color: #E87117;}
.logo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
    margin-top: 15px;
}
.logo img
{
    padding-left:15px ;
    padding-right:15px;

}
.btn-orange
{
    background-color: #E87117;
    color:white;
}
.btn-orange:hover
{
opacity: 45%;
    color: white;
}
.nav_color
{
    background-color: rgb(25, 5, 6);
}
.bt
{
    font-family: "Pricedown Bl"
    font-weight: 400;
    font-size: 14px ;
}
.table_css
{
    font-family: sans-serif;
    font-size: 13px;
    width: 60%;
    border-radius: 20px 0 20px 0 ;
}
.ul
{

    font-family: "HP Simplified Light";
    font-size: 12px;
    color: #617177;
}
.ul .li
{
    padding-left: 0;
}
.event_img img
{
   border-radius: 2px ;
    height: 10%;
}
.event_img
{
    transition: transform ease-in-out .5s;
    animation: slidedown 5s;

}
.event_img:hover
{
    transform: scale(1.1)rotate(10deg);
}

.event_text
{
    position: relative;
    font-family: sans-serif;
    margin-top: -38px;
    animation: slidedown 5s;
}
.event_text .event_item2:hover
{
    font-size: 14px;
    padding:10px 10px 10px 10px;
    transition: all ease-in-out 1s;
    color: white;
    font-weight: bold;
    text-decoration: none;

}
.event_item1
{
    color: #ffffff;
    position: relative;
    background-color:#ED5045;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 2px;
    margin-right: 10px;
    font-size: 13px;
    animation: slidedown 5s;
}
.event_item2
{
    background-color: rgb(25, 5, 6);
    padding:10px 10px 10px 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 10px;
    border-radius: 15px 0 15px 0;
}
@keyframes slidedown {
    from{
        transform:  translateY(100px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideright {
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.agenda
{

    width: 100%;

}
.agenda_item
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0b2e13;
    animation: slideright 5s;
}
.agenda h4
{
    font-family: "HP Simplified" ;
    color:#EA553C ;
    text-decoration: underline;
}
.agenda_item p
{
    font-family: "HP Simplified Light";
    font-weight: bold;
}
.agenda_item span
{
    color: #777070;
    font-size: 12px;
}
.agenda_item a
{
    font-size: 10px;
}
.agenda_title
{
    font-family: BatmanForeverAlternate;
}
.agenda_table_title
{
    font-size: 16px ;
    font-family: "HP Simplified Light";
    text-transform: uppercase;
    color: #EA4D47;
    text-align:center;
}
.agenda_table_title td
{
    background: white;
}
.agenda_id
{
    background:#E86A20 ;
    color: white;
    font-weight: bold;
}
.agenda_table_item
{
    font-size: 13px;
    color:#737073;
}
.agenda_admin
{
    color: #EA4D47;
    font-size: 10px;
}
.btn-search
{
    background-color: #e86a20;
    padding: 5px 20px 5px 20px;
    transition: all ease-in 1s;
}
.btn-search:hover
{
  animation: rotate 2s ;

}
.btn2
{
   
}
@keyframes rotate {
    from
    {
        transform: scale(1.2) rotate(360deg);
        border-radius: 0;
        color: #EA4D47;
    }
    to
    {
        transform: scale(1.1) rotate(0deg);
        border-radius: 0;
        color: #EA4D47;
    }

}