{% extends 'adminbase.html.twig' %}

{% block body %}

    <div class="jumbotron ">
        <div class="container">
            <h1 class=" alert-daner text-secondary text-center ">Editer  la catégori </h1><br>
            {{  include ('adminproperty/categori/_form.html.twig' , {button: 'Editer'}) }}
        </div>

    </div>

{% endblock %}

