{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminpropertyController!{% endblock %}

{% block body %}
    <h1 class="alert-primary text-center">Liste desCategoris de film  </h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for categori in categoris %}
            <tr>
                <td>{{ categori.id }}</td>
                <td>{{ categori.nom }}</td>
                <td>
                    <a class="btn btn-success " href="{{ path('categori.edit', {'id': categori.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning text-light" href="{{ path('categori.new') }}">Create new</a>

{% endblock %}
