{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminpropertyController!{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Categori_liste</li>
    </ol>
    <h1 class="alert bg-warning text-secondary text-light h-50 h4">Liste desCategoris de film  </h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for categori in categoris %}
            <tr>
                <td>{{ categori.id }}</td>
                <td>{{ categori.nom }}</td>
                <td>
                    <a class="btn btn-success " href="{{ path('categori.edit', {'id': categori.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger  " href="{{ path('categori.new') }}">Create new</a>

{% endblock %}
