{% extends 'adminbase.html.twig'%}

{% block body %}
    <div class="jumbotron ">
        <div class="container">
            <h1 class="text-secondary table-active text-center ">Ajouter un nouveau DVD</h1><br>
            {{ include ('adminproperty/form.html.twig' , {button: 'Enregistrer'}) }}
        </div>
    </div>


{% endblock %}